/*  General styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

html {
  font-size: 62.5%; }

body {
  background-color: #fffef5;
  color: #57595b;
  font-size: 1.3rem;
  min-height: 90vh; }

.frame {
  margin: auto;
  margin-bottom: 10vh;
  width: 85vw;
  padding: 15px; }

h1 {
  color: #f2cf62;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: .5rem; }

h2 {
  color: #f2cf62;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: .5rem; }

h3 {
  color: #6493a5;
  font-size: 2rem; }

p {
  font-size: 1.4rem;
  padding-top: 3px; }

/* Header style*/
header {
  background-color: rgba(242, 242, 242, 0.5);
  width: 100%;
  border-bottom: solid 1px rgba(100, 147, 165, 0.8); }

.navbar-light {
  background-color: none; }

.menu {
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 5%; }

.menu__logo img {
  width: 70px; }

.menu__logo:hover {
  transform: rotate(10deg);
  transition: transform .5s; }

a.nav-link.menu__button.menu__button--link {
  color: #57595b;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  padding: 1rem; }

a.nav-link.menu__button.menu__button--link:hover {
  color: #6493a5;
  font-weight: bold;
  background-size: 100% 2px; }

@media only screen and (min-width: 768px) {
  .menu__logo {
    max-width: 70px; } }

/* Footer style */
.footer {
  width: 100vw;
  padding: 10px;
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  .footer .email-icon {
    background-image: url(../img/email.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .telefono-icon {
    background-image: url(../img/telefono.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .instagram-icon {
    background-image: url(../img/instagram.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .facebook-icon {
    background-image: url(../img/facebook.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .footer__link {
    text-decoration: none;
    margin-left: 6px;
    margin-right: 6px; }
  .footer .footer__link:hover {
    transform: rotate(10deg);
    transition: transform .2s; }

/* Style for the home page */
#home .frame {
  min-height: 80vh;
  background-image: url(../img2/cemento_background_home.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

#home main {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  align-items: center; }

.introduction {
  text-align: center;
  background-color: rgba(255, 254, 245, 0.7);
  padding: 20px;
  border-radius: 12px;
  width: 90vw; }
  .introduction h1 {
    font-weight: bold;
    color: #6493a5; }
  .introduction h2 {
    color: #6493a5; }
  .introduction p {
    font-size: 1.5rem; }

/* Media queries for the home page */
@media only screen and (min-width: 768px) {
  #home .frame {
    background-position: left bottom; }
  #home main {
    justify-content: flex-end;
    align-items: center; }
    #home main .introduction {
      width: 40vw; } }

/* Style for Chi Sono */
body#chiSono {
  min-height: 100vh;
  background-image: url(../img2/vari-vasetti.jpg);
  background-position: center center;
  background-size: cover; }

.sonoManu {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(255, 254, 245, 0.8);
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  color: #57595b; }
  .sonoManu article {
    text-align: justify; }
  .sonoManu__img {
    border-radius: 50%;
    align-self: center; }

/* Contatto style */
body#contatto {
  background-image: url(../img2/vari-vasetti.jpg);
  background-position: center center;
  background-size: cover; }

#contatto h1 {
  display: none; }

.contatto {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center; }

.infoContatto, .formulario {
  background-color: rgba(87, 89, 91, 0.8);
  text-align: center;
  width: 90vw;
  min-height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  color: #f2f2f2;
  font-size: 1.2rem;
  border: solid 0.5px #57595b;
  border-radius: 15px;
  padding: 10px 20px 10px 20px; }
  .infoContatto .infoContatto--link, .formulario .infoContatto--link {
    text-decoration: none;
    color: #f2cf62; }

#contatto h2 {
  padding-bottom: 5px;
  color: #f2cf62; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.formulario__campo {
  margin: 6px 0 6px 0;
  padding-left: 5px;
  max-width: 30rem;
  border: none;
  border-radius: 5px; }
  .formulario__campo:focus {
    transform: scale(1.1);
    transition: transform .2s;
    border: none; }

.formulario__bottone {
  text-align: center;
  background-color: #6493a5;
  padding: 5px 10px 5px 10px !important;
  color: #f2f2f2;
  font-weight: bold;
  border: solid 0.5px #57595b;
  border-radius: 5px;
  transform: translate(2px, 2px); }

/*Media queries for "Contatto */
@media only screen and (min-width: 576px) {
  .infoContatto, .formulario, .formulario {
    width: 70vw; } }

@media only screen and (min-width: 768px) {
  .contatto {
    flex-direction: row; }
  .infoContatto, .formulario, .formulario {
    width: 37vw; } }

@media only screen and (min-width: 1200px) {
  .formulario__campo {
    max-width: 50rem; } }

/* Styles for Prodotti and Galleria */
#prodotti h1, #galleria h1 {
  color: #f2cf62;
  margin-bottom: 20px; }

.prodotti {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: 80vh; }

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 2%;
  line-height: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #57595b, 0 6px 20px 0 #fffef5;
  position: relative; }
  .box img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s; }
  .box span {
    font-size: 3rem;
    color: #f2f2f2;
    display: block;
    text-align: center;
    background-color: rgba(87, 89, 91, 0.7);
    height: 10vh;
    line-height: 2.6; }
  .box .materiali {
    display: none; }
  .box:hover {
    flex: 1 1 50%;
    border: solid 2px #f2cf62; }
    .box:hover img {
      width: 100%;
      height: 100%; }

.purchase {
  background-color: #57595b;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  color: #f2f2f2;
  margin-top: 5vh; }
  .purchase .purchase__name {
    color: #f2cf62; }
  .purchase .purchase--link {
    text-decoration: none;
    color: #f2cf62; }

/* Styles for Galleria */
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
  /* Hidden by default */ }

/* The "show" class is added to the filtered elements */
.show {
  display: block; }

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer; }

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd; }

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white; }

.gallery {
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr); }
  .gallery img {
    border: solid 3px #f2cf62;
    border-radius: 12px;
    max-width: 80vw;
    display: block;
    justify-self: center; }
    .gallery img:hover {
      transform: scale(1.05);
      transition: transform 0.3s; }

/*  Media queries for "Prodotti", "Cemento" and "Riuso"  */
@media only screen and (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px; }
    .gallery img {
      max-width: 30vw; } }

@media only screen and (min-width: 768px) {
  .prodotti {
    flex-direction: row;
    justify-content: space-between; }
  .box:hover .materiali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    /*transform: translate(-50%, -50%);*/
    color: #f2f2f2;
    background-color: rgba(87, 89, 91, 0.6);
    text-align: center;
    height: 100%;
    width: 100%; }
    .box:hover .materiali p {
      margin: 10px;
      line-height: 3rem;
      padding: 5px 20px; }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; }
    .gallery img {
      max-width: 25vw; } }

@media only screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px; }
    .gallery img {
      width: 20vw; } }

/*-- Styles for 404 page --*/
body#notFound {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/cemento-rotto-pianta.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#notFound main {
  display: flex;
  justify-content: center;
  align-items: center; }

.errorMessage__box {
  padding: 40px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(242, 242, 242, 0.7); }
  .errorMessage__box .errorMessage__content {
    font-size: 1.8rem;
    text-align: center; }
  .errorMessage__box .bottone {
    padding: 10px 50px;
    background-color: #6493a5;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #f2f2f2; }
    .errorMessage__box .bottone:hover {
      transform: translate(2px, 2px); }

/* Media queries for page 404 */
@media only screen and (min-width: 768px) {
  .errorMessage__box {
    margin-top: 7vh;
    max-width: 30vw; } }
