/*  General styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

html {
  font-size: 62.5%; }

body {
  background-color: #e6e8e6ff;
  color: #000009ff;
  font-size: 1.2rem; }

.frame {
  padding: 10px;
  margin-top: 90px;
  margin-bottom: 10vh; }

h1 {
  color: #00241bff;
  font-size: 3.5rem; }

h2 {
  color: #00241bff;
  font-size: 2.5rem; }

h3 {
  color: #00241bff;
  font-size: 2rem; }

p {
  font-size: 1.4rem;
  padding-top: 3px; }

section {
  padding: 10px; }

.internalLink {
  color: #e6e8e6ff;
  background-color: #73665eff;
  font-size: 1.5rem;
  text-decoration: none;
  padding: .8rem;
  margin-top: 5px;
  border-radius: 5px;
  display: inline-block; }

.internalLink:hover {
  color: #e6e8e6ff;
  transform: translate(2px, 2px); }

/*  Styles for the header  */
header {
  background-color: #73665eff;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10; }

.navbar-light {
  background-color: #73665eff; }

.menu {
  color: #000009ff;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%; }

.menu__logo img {
  width: 70px; }

.menu__logo:hover {
  transform: rotate(10deg);
  transition: transform .5s; }

a.nav-link.menu__button.menu__button--link {
  color: #000009ff;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  padding: 1rem; }

a.nav-link.menu__button.menu__button--link:hover {
  color: #e6e8e6ff;
  background-size: 100% 2px; }

@media only screen and (min-width: 768px) {
  .menu__logo {
    max-width: 70px; } }

/*  Styles for the footer */
.footer {
  width: 100vw;
  padding: 10px;
  background-color: #73665eff;
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  .footer .email-icon {
    background-image: url(../img/email.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .telefono-icon {
    background-image: url(../img/telefono.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .instagram-icon {
    background-image: url(../img/instagram.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .facebook-icon {
    background-image: url(../img/facebook.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .footer .footer__link {
    text-decoration: none;
    color: #000009ff;
    margin-left: 6px;
    margin-right: 6px; }
  .footer .footer__link:hover {
    transform: rotate(10deg);
    transition: transform .2s; }

/*  Styles for the home page  */
#home main {
  margin: 20px; }

#home h1 {
  font-family: 'Julee', cursive; }

.materiali__article {
  padding-top: 20px; }

.materiali .accordion-item {
  background-color: #e6e8e6ff; }

.accordion-button {
  background-color: #9fb8adff;
  color: #000009ff;
  font-size: 1.5rem; }
  .accordion-button::after {
    z-index: 1; }

.accordion-button:focus {
  box-shadow: none; }

.accordion-button:not(.collapsed) {
  background-color: #9fb8adff;
  color: #000009ff;
  font-size: 1.5rem; }

.sonoManu__article {
  padding-bottom: 20px; }
  .sonoManu__article .sonoManu__article--handwritten {
    font-family: 'Julee', cursive;
    padding-bottom: 0; }

.sonoManu__img .sonoManu__img--rounded-border {
  border-radius: .3rem; }

@media only screen and (min-width: 768px) {
  .materiali__article {
    padding-top: 0; }
  .sonoManu__article {
    padding-bottom: 0; } }

/*  Styles for "Contatto"  */
/*#contatto .backgroundImage{
    margin-top: 85px;
    padding-top: 10px;
    background-color: $dim-gray;
    background-image: url(../img/cemento-portacandela.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 87vh;
}*/
.backgroundImage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-image: url(../img/cemento-portacandela.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#contatto main {
  margin-top: 10vh; }

.contatto__title {
  display: none; }

.infoContatto {
  background-color: #00241bff;
  opacity: .8;
  text-align: center;
  max-width: 300px;
  margin: auto;
  color: #e6e8e6ff;
  font-size: 1.2rem;
  border: solid 0.5px #00241bff;
  border-radius: 15px;
  padding: 15px;
  margin-top: 5vh; }
  .infoContatto .infoContatto--link {
    text-decoration: none;
    color: #048a81ff; }
  .infoContatto .infoContatto--link:hover {
    font-style: italic; }

.formulario__title {
  padding-bottom: 5px;
  color: #e6e8e6ff; }

.formulario {
  background-color: #00241bff;
  opacity: .8;
  text-align: center;
  max-width: 300px;
  margin: auto;
  color: #e6e8e6ff;
  font-size: 1.2rem;
  border: solid 0.5px #00241bff;
  border-radius: 15px;
  margin-top: 2vh;
  margin-bottom: 10vh;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.formulario__campo {
  margin: 6px 0 6px 0;
  padding-left: 5px;
  max-width: 30rem;
  border: none;
  border-radius: 5px; }
  .formulario__campo:focus {
    transform: scale(1.1);
    transition: transform .2s;
    border: none; }

.formulario__bottone {
  text-align: center;
  background-color: #9fb8adff;
  padding: 5px 10px 5px 10px !important;
  color: #000009ff;
  font-weight: bold;
  border: solid 0.5px #73665eff;
  border-radius: 5px; }

.formulario__bottone {
  transform: translate(2px, 2px); }

@media only screen and (min-width: 768px) {
  .infoContatto, .formulario {
    max-width: 37vw;
    margin-top: 25vh; } }

@media only screen and (min-width: 1200px) {
  .formulario__campo {
    max-width: 50rem; } }

/*  Styles for "Prodotti"  */
#prodotti main {
  margin-top: 10px;
  padding: 20px;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.product__title {
  text-align: center; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.product__container {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 40%;
  margin-bottom: 50px; }

.product-card {
  border: solid 1px #73665eff;
  box-shadow: 0 4px 8px 0 #73665eff, 0 6px 20px 0 #ced0ceff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.product-card__link {
  text-align: center;
  text-decoration: none; }

.product-card__img {
  display: none; }

.product-card__name {
  padding-top: 10px;
  font-size: 2rem; }

.product-card:hover {
  transform: translate(2px, 2px); }

.purchase {
  margin: 20px;
  text-align: right; }
  .purchase .purchase__name {
    font-size: 2.5rem; }
  .purchase .purchase--link {
    text-decoration: none;
    color: #048a81ff; }

/*  Styles for "Cemento" and "Riuso"  */
.prodMaterial {
  padding: 30px 30px 10px 30px;
  margin-bottom: 0px;
  text-align: justify; }
  .prodMaterial .prodMaterial__subtitle {
    font-size: 1.7rem;
    font-weight: bold; }
  .prodMaterial .prodMaterial__list {
    background-color: #e6e8e6ff;
    border: none; }
  .prodMaterial .list__name--bold {
    font-size: 1.5rem; }

aside {
  max-width: 15vw; }
  aside a {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #00241bff;
    text-decoration: none;
    text-align: center;
    border: solid 1px #73665eff;
    border-radius: 5px;
    padding: 0.8rem; }
  aside a:hover {
    color: #00241bff;
    transform: translate(2px, 2px); }
  aside img {
    max-width: 12vw;
    display: none; }
  aside h3 {
    margin-bottom: 0px; }

.gallery {
  padding: 0 30px 0 30px;
  margin-top: 15px; }

.gallery__pictures {
  padding-top: 10px;
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; }
  .gallery__pictures img {
    max-width: 80vw;
    display: block;
    justify-self: center;
    border-radius: .3rem; }
  .gallery__pictures img:hover {
    transform: scale(1.05);
    transition: transform 0.3s; }

/*  Media queries for "Prodotti", "Cemento" and "Riuso"  */
@media only screen and (min-width: 576px) {
  .prodotti__container {
    width: 50vw; }
  .gallery__pictures {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px; }
    .gallery__pictures img {
      max-width: 30vw; } }

@media only screen and (min-width: 768px) {
  .product__title {
    display: none; }
  .product__container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 28vw);
    grid-template-rows: auto;
    column-gap: 10%;
    justify-content: space-evenly; }
  .product-card__img {
    display: block;
    width: 25vw;
    border-radius: .3rem; }
  .list__content--hideText {
    display: block;
    font-size: 1.4rem;
    padding-bottom: 5px; }
  .gallery__pictures {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px; }
    .gallery__pictures img {
      max-width: 25vw; } }

@media only screen and (min-width: 992px) {
  aside a {
    box-shadow: 0 4px 8px 0 #73665eff, 0 6px 20px 0 #ced0ceff; }
  aside img {
    display: block;
    margin-bottom: 10px;
    border-radius: .3rem; } }

@media only screen and (min-width: 1200px) {
  .product__container {
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: auto; }
  .product-card__img {
    width: 23vw; }
  .gallery__pictures {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px; }
    .gallery__pictures img {
      max-width: 20vw; } }

/*-- Styles for 404 page --*/
.notFound__background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-image: url(../img/cemento-rotto-pianta.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#notFound main {
  margin-top: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.errorMessage__box {
  padding: 40px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 12px; }
  .errorMessage__box .errorMessage__content {
    font-size: 1.8rem; }
  .errorMessage__box .internalLink {
    text-align: left; }

@media only screen and (min-width: 768px) {
  .errorMessage__box {
    margin-top: 7vh;
    max-width: 40vw; } }
