/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

:root {
    --dim-gray: #73665eff;
    --platinum: #e6e8e6ff;
    --light-gray: #ced0ceff;
    --black: #000009ff;
    --cambridge-blue: #9fb8adff;
    --celadon-green: #048a81ff;
    --dark-green: #00241bff;
}

html{
	font-size: 62.5%;
}

body{
	background-color: var(--platinum);
	color: var(--black);
	font-size: 1.2rem;
}

/*--Estilos del header--*/
nav{
    background-color: var(--dim-gray);
    color: var(--black);
    font-size: 1.5rem;
}

a.logo img{
    width: 70px;
    margin-left: 5%;
}

a.logo img:hover{
    transform: rotate(10deg);
    transition: transform .5s;
}

div#navbarSupportedContent ul{
    margin-right: 5%;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--black);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--platinum);
    background-size: 100% 2px;
}

/*--Estilos del footer--*/
footer{
    width: 100vw;
    padding: 10px 50px 10px 50px;
	background-color:  var(--dim-gray);
	font-size: 1.2rem;
    position: fixed;
    left: 0;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

footer img{
	height: 20px;
}

footer a{
    text-decoration: none;
	color: var(--black);
    padding-left: 6px;
    padding-right: 6px;
}

footer a:hover{
    transform: rotate(10deg);
    transition: transform .2s;
}

/*--Estilos generales--*/

h1{
    color:var(--dark-green);
	font-size: 4rem;
}
h2{
    color:var(--dark-green);
	font-size: 3rem;
}

h3{
    color: var(--dark-green);
	font-size: 2rem;
}

main{
    padding: 10px;
    margin-bottom: 10vh;
}

p{
	font-size: 1.4rem;
}
section{
	padding: 10px;
}


.rightAlign{
	text-align: right;
}
/* Estilos de la home */

#home main{
    margin: 20px 50px 50px 50px;
}

.materiali article{
    padding-top: 20px;
}

.materiali .accordion-item{
    background-color: var(--platinum);
}

.accordion-button{
    background-color: var(--cambridge-blue);
    color: var(--black);
    font-size: 1.5rem;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background-color: var(--cambridge-blue);
    color: var(--black);
    font-size: 1.5rem;
}

.sonoManu article{
    padding-bottom: 20px;
}


/* Estilos de contatto */
#contatto .backgroundImage{
    background-color: var(--dim-gray);
    background-image: url(../img/cemento-portacandela.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.emailTelefono{
    background-color: var(--dark-green);
    opacity: .8;
    width: 300px;
    padding: 15px;
    margin: auto;
    margin-top: 5vh;
    border: solid 0.5px var(--dark-green);
    border-radius: 15px;
}

.emailTelefono p{
    color: var(--platinum);
    text-align: center;
    font-size: 1.2rem;
}

.emailTelefono a{
    text-decoration: none;
    color: var(--platinum);
}
.emailTelefono a:hover{
    font-size: 1.4rem;
    font-style: italic;
}

#contatto h1{
    display: none;
}
#contatto h2{
	padding-bottom: 5px;
    color: var(--platinum);
}

#contatto fieldset{
    background-color: var(--dark-green);
    opacity: .8;
	text-align: center;
	max-width: 300px;
	margin: auto;
    margin-top: 2vh;
    margin-bottom: 10vh;
	padding: 10px 20px 10px 20px;
	border: solid 0.5px var(--dark-green);
	border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contatto fieldset input, #contatto fieldset textarea{
    margin: 6px 0 6px 0;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
}

#contatto fieldset input:focus, #contatto fieldset textarea:focus{
    transform: scale(1.1);
    transition: transform .2s;
    border: none;
}

input.button{
    text-align: center;
	background-color: var(--cambridge-blue);
	padding: 5px 10px 5px 10px !important;
    color: var(--black);
    font-weight: bold;
	border: solid 0.5px var(--dim-gray);
	border-radius: 5px;
}

input.button:hover{
	transform: translate(2px, 2px);
}


/*---Estilos de Prodotti---*/
#prodotti main{
    margin-top: 10px;
    padding: 20px;
	min-height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#prodotti h1{
    text-align: center;
}

div.classProdotti{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.cardProdotti{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 40%;
    margin-bottom: 50px;
}

section.cardProdotti a{
    text-align: center;
    text-decoration: none;
}

article.cardSon{
	border: solid 1px var(--dim-gray);
	box-shadow: 0 4px 8px 0 var(--dim-gray), 0 6px 20px 0 var(--light-gray);
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

article.cardSon:hover{
    transform: translate(2px, 2px);
}

.cardSon img{
    display: none;
}

.cardSon h3{
    padding-top: 10px;
}

section#comprare{
    margin: 20px;
}

.galleryPictures a img{
    margin: 15px;
}


/*--Estilos de cemento y riuso--*/

#cemento main, #riuso main{
    padding: 30px 30px 10px 30px;
    margin-bottom: 0px;
    text-align: justify;
}

#cemento main p, #riuso main p{
    padding-bottom: 10px;
}

#cemento section, #riuso section{
    padding: 0 30px 0 30px;
    margin-bottom: 10vh;
}

#cemento h4, #riuso h4{
    font-weight: bold;
}

.list-group-item{
    background-color: var(--platinum);
    border: none;
}

div.hideText{
    display: none;
}

.linkInterno{
	color:  var(--platinum);
	background-color: var(--dim-gray);
	font-size: 1.5rem;
	text-decoration: none;
	padding: .8rem;
    margin-top: 5px;
	border-radius: 5px;
    display: inline-block;
}

div.text-center.text-xl-end.boton{
    margin-top: 20px;
}

.linkInterno:hover{
    color: var(--platinum);
    transform: translate(2px, 2px);
}


aside{
    max-width: 15vw;
}

aside a{
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--dark-green);
    text-decoration: none;
    text-align: center;
    border: solid 1px var(--dim-gray);
	border-radius: 5px;
	padding: 0.8rem;
}

aside a:hover{
    color: var(--dark-green);
    transform: translate(2px, 2px);
}

aside img{
    max-width: 12vw;
    display: none;
}

aside h3{
    margin-bottom: 0px;
}

.galleria{
    margin-top: 15px;
}

.galleryPictures img{
    max-width: 80vw;
    display: block;
    justify-self: center;
}

.galleryPictures img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.galleryPictures{
    padding-top: 10px;
    display: grid;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

@media only screen and (min-width:576px){
    
    
    .galleryPictures{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }

    .galleryPictures img{
        max-width: 30vw;
    }
}

@media only screen and (min-width:768px){
    .logo{
        max-width: 70px;
        margin-left: 5%;
    }
    
    .materiali article{
        padding-top: 0;
        padding-left: 20px;
    }
    
    .sonoManu article{
        padding-bottom: 0;
        padding-right: 20px;
    }

    .backgroundImage{
        padding-top: 7vh;   
    }
    
    #prodotti h1{
        display: none;
    }

    section.cardProdotti{
		width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 28vw);
        grid-template-rows: auto;
        column-gap: 10%;
        justify-content: space-evenly;
    }

    .cardSon img{
        display: inline;
        width: 25vw;
    }

    div.hideText{
        display: block;
        font-size: 1.4rem;
        padding-bottom: 5px;
    }
    
    .galleryPictures{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }

    .galleryPictures img{
        max-width: 25vw;
    }
}

@media only screen and (min-width:992px){
    aside a{
        box-shadow: 0 4px 8px 0 var(--dim-gray), 0 6px 20px 0 var(--light-gray);
    }

    aside img{
        display: block;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:1200px){
    section.cardProdotti{
        grid-template-columns: repeat(2, 25vw);
        grid-template-rows: auto;
    }

    .cardSon img{
        width: 23vw;
    }
    
    .galleryPictures{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .galleryPictures img{
        max-width: 20vw;
    }
}
