/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

:root {
	--middle-grey: #857e74ff;
	--lavender-blue: #bbbdf6ff;
	--rich-black: #061826ff;
	--flax: #e0d68aff;
	--eggshell: #faf3ddff;
	--ivory: #fffdedff;
	--turquoise-green: #b9e3c6ff;
	--ocean-green: #59c9a5ff;
	--tea-green: #cce2a3ff;
	--aero-blue: #caf7e2ff;
}

html{
	font-size: 62.5%;
}

body{
	background-color: var(--ivory);
	color: var(--rich-black);
	font-size: 1.2rem;
}

header{
	padding: 10px;
	background-color: var(--ocean-green);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.logo{
	width: 30%;
	margin-left: 40px;
}

.navigation{
	width: 40%;/*
	display: flex;
	justify-content: flex-end;*/
}

.subNavUno{
	top:2px;
	left: -8px;
	background-color:  var(--ocean-green);
	width: 130px;
	height: 30px;
	padding: 15px 10px 10px 25px;
}

.subNavDue{
	top:2px;
	left: -8px;
	background-color:  var(--ocean-green);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	width: 130px;
	height: 30px;
	padding: 10px 10px 15px 25px;
}

nav li a {
	text-decoration: none;
	color: var(--rich-black);
}

nav li a:hover{
	color: var(--eggshell);
	border-bottom: 2px solid;
}

nav li li a:hover{
	color: var(--eggshell);
	border-bottom: none;
	font-weight: normal;
}

nav ul {
	list-style: none;
	font-size:0;
}
nav li {
	display: inline-block;
	width: 33%;
	position:relative;
	font-size: 1.5rem;
	list-style: none;
}
nav ul ul {
	position: absolute;
	display: none;
}
nav ul ul li {
	display: block;
}
nav ul li:hover ul {
	display:block;
 }
 
main{
	padding: 10px;
}
footer{
	background-color: var(--ocean-green);
	padding: 10px;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
}

footer a{
	text-decoration: none;
	color: var(--rich-black);
}

footer a:hover{
	color: var(--eggshell);
}
footer li{
	display: inline-block;
	list-style: none;
	margin: 10px 40px;
}
footer li img{
	height: 20px;
	cursor: pointer;
}

/*.contactFooter{
	
}*/

.socialFooter{
	margin-right: 40px;
}

h1{
	color:var(--middle-grey);
	font-size: 4rem;
	letter-spacing: 4px;
	word-spacing: 7px;
	line-height: 50px;
}
h2{
	color:var(--middle-grey);
	font-size: 3rem;
	letter-spacing: 3px;
	word-spacing: 6px;
	line-height: 40px;
}

h3{
	color: var(--middle-grey);
	font-size: 2rem;
}

p{
	padding-top: 10px;
	font-size: 1.5rem;
	letter-spacing: 1px;
	word-spacing: 5px;
	line-height: 2rem;
}
section{
	padding: 10px;
}
.button{
	background-color: var(--lavender-blue);
	padding: 5px 10px;
	border: solid 0.5px var(--middle-grey);
	border-radius: 5px;
}
.linkInterno{
	color:  var(--ivory);
	background-color: var(--middle-grey);
	font-size: 1.5rem;
	text-decoration: none;
	padding: 0.8rem;
	border-radius: 5px;
}

.galleryPictures img{
	margin: 15px;
}

.rightAlign{
	text-align: right;
}
/* Estilos de la home */

#home main{
	margin: 10px 50px;
	height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#home article{
	margin: 20px;
	flex-grow: 2;
}

/*-- Estilos de Chi sono --*/
#chiSono main{
	height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#chiSono section{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img#manu{
	margin-left: 50px;
	width: 300px;
	border-radius: 20%;
}

#chiSono article{
	margin: 30px;
	padding: 10px;
}

iframe{
	margin-right: 50px;
	height: 300px;
}




/* Estilos de contatto */
#contatto main{
	background-image: url(../img/portacandela.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#contatto h1{
	display: none;
}
#contatto h2{
	padding-bottom: 10px;
}

#contatto fieldset{
	background-color: var(--ivory);
	text-align: center;
	width: 300px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 20px 10px 20px;
	border: solid 0.5px var(--ivory);
	border-radius: 5px;
	/*box-shadow: 0 4px 8px 0 var(--middle-grey), 0 6px 20px 0 var(--ivory);*/
}


/*---Estilos de Prodotti---*/
#prodotti main {
	padding: 50px;
}

#prodotti hr{
	color: var(--middle-grey);
}

.cardFather{
	margin: 20px 20px;
	display: flex;
	justify-content: space-around;
}

article.cardSon{
	border: solid 1px var(--middle-grey);
	box-shadow: 0 4px 8px 0 var(--middle-grey), 0 6px 20px 0 var(--eggshell);
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#comprare{
	margin-right: 40px;
	text-align: right;
}

div.rightAlign{
	margin-top: 20px;
	margin-right: 20px;
}