/*-- Styles for 404 page --*/
body#notFound{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/cemento-rotto-pianta.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#notFound main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage__box{
    padding: 40px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    background-color: rgba($sfondo, .7);
    .errorMessage__content{
        font-size: 1.8rem;
        text-align: center;
    }
    .bottone{
        padding: 10px 50px;
        background-color: $azzurro;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        color: $sfondo;
        &:hover{
            transform: translate(2px, 2px);
        }
    }
}

/* Media queries for page 404 */
@media only screen and (min-width: $md){
    .errorMessage__box{
        margin-top: 7vh;
        max-width: 30vw;
    }
}
