/*  General styles  */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');


$azzurro: rgb(100, 147, 165);
$grigio: rgb(87, 89, 91); 
$giallo: rgb(242, 207, 98);
$sfondo: rgb(242, 242, 242); 
$talco: rgb(255, 254, 245);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: $talco;
    color: $grigio;
    font-size: 1.3rem;
    min-height: 90vh;
}

.frame{
    margin:auto;
    margin-bottom: 10vh;
    width: 85vw;
    padding: 15px;
}

h1{
    color: $giallo;
	font-size: 3.5rem;
    text-align: center;
    letter-spacing: .5rem;
}
h2{
    color:$giallo;
	font-size: 2.5rem;
    text-align: center;
    letter-spacing: .5rem;
}

h3{
    color: $azzurro;
	font-size: 2rem;
}

p{
	font-size: 1.4rem;
    padding-top: 3px;
}