/*  Styles for "Contatto"  */

.backgroundImage{
    margin-top: 10vh;
    min-height: 90vh;
    max-width: 100vw;
    background-image: url(../img/cemento-portacandela.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contatto__title{
    display: none;
}

@mixin contattoBox{
    background-color: $dark-green;
    opacity: .8;
    text-align: center;
    max-width: 300px;
    margin: auto;
    color: $platinum;
    font-size: 1.2rem;
    border: solid 0.5px $dark-green;
    border-radius: 15px;
}

.infoContatto{
    @include contattoBox;
    padding: 10px 20px 10px 20px;
    margin-top: 5vh;
    .infoContatto--link{
        text-decoration: none;
        color: $celadon-green
    }
    .infoContatto--link:hover{
        font-style: italic;
    }
}


.formulario__title{
	padding-bottom: 5px;
    color: $platinum;
}

.formulario{
    @include contattoBox;    
    margin-top: 2vh;
    margin-bottom: 15vh;
	padding: 10px 20px 10px 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario__campo{
    margin: 6px 0 6px 0;
    padding-left: 5px;
    max-width: 30rem;
    border: none;
    border-radius: 5px;
    &:focus{
        transform: scale(1.1);
        transition: transform .2s;
        border: none;
    }
}


.formulario__bottone{
    text-align: center;
	background-color: $cambridge-blue;
	padding: 5px 10px 5px 10px !important;
    color: $black;
    font-weight: bold;
	border: solid 0.5px $dim-gray;
	border-radius: 5px;
}

.formulario__bottone{
	transform: translate(2px, 2px);
}

/*Media queries for "Contatto */
@media only screen and (min-width: $md){
    .infoContatto, .formulario{
        max-width: 37vw;
        margin-top: 25vh;
    }

}

@media only screen and (min-width: $xl){
    .formulario__campo{
        max-width: 50rem;
    }
    
}