/* Style for the home page */
#home .frame{
    min-height: 80vh;
    background-image: url(../img2/cemento_background_home.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;   
}

#home main{
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}
.introduction {
    text-align: center;
    background-color: rgba($talco, .7);
    padding: 20px;
    border-radius: 12px;
    width: 90vw;
    h1{
        font-weight: bold;
        color: $azzurro;
    }
    h2{
        color: $azzurro;
    }
    p{
        font-size: 1.5rem;
    }
}


/* Media queries for the home page */
@media only screen and (min-width:$md){
    #home .frame{
        background-position: left bottom;
    }
    #home main{
        justify-content: flex-end;
        align-items: center;
        .introduction{
            width: 40vw;
        }
    }
}