/*  Styles for "Prodotti"  */
#prodotti .frame{
    margin-bottom: 0;
}

#prodotti main{
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.product__title{
    text-align: center;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product__container{
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 40%;
    margin-bottom: 50px;
}

.product-card{
	border: solid 1px $dim-gray;
	box-shadow: 0 4px 8px 0 $dim-gray, 0 6px 20px 0 $light-gray;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card__link{
    text-align: center;
    text-decoration: none;
}
.product-card__img{
    display: none;
}
.product-card__name{
    padding-top: 10px;
    font-size: 2rem;
}

.product-card:hover{
    transform: translate(2px, 2px);
}

.purchase{
    margin: 20px;
    .purchase__name{
        font-size: 2.5rem;
    }
    .purchase--link{
        text-decoration: none;
        color: $celadon-green;
    }
}

/*  Styles for "Cemento" and "Riuso"  */

.prodMaterial{
    padding: 30px 30px 10px 30px;
    margin-bottom: 0px;
    text-align: justify;
    .prodMaterial__subtitle{
        font-size: 1.7rem;
        font-weight: bold;
    }
    .prodMaterial__list{
        background-color: $platinum;
        border: none;
    }
    
    .list__name--bold{
        font-size: 1.5rem;
    }
}

aside{
    max-width: 15vw;
    a{
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: $dark-green;
        text-decoration: none;
        text-align: center;
        border: solid 1px $dim-gray;
        border-radius: 5px;
        padding: 0.8rem;
    }

    a:hover{
        color: $dark-green;
        transform: translate(2px, 2px);
    }

    img{
        max-width: 12vw;
        display: none;
    }

    h3{
        margin-bottom: 0px;
    }
}

.gallery{
    padding: 0 30px 0 30px;
    margin-top: 15px;
}

.gallery__pictures{
    padding-top: 10px;
    display: grid;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    img{
        max-width: 80vw;
        display: block;
        justify-self: center;
        border-radius: .3rem;
    }

    img:hover{
        transform: scale(1.05);
        transition: transform 0.3s;
    }
}

/*  Media queries for "Prodotti", "Cemento" and "Riuso"  */
@media only screen and (min-width:$sm){
    .prodotti__container{
        width: 50vw;
    }

    .gallery__pictures{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
        img{
            max-width: 30vw;
        }
    }

}

@media only screen and (min-width:$md){
    .product__title{
        display: none;
    }

    .product__container{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 28vw);
        grid-template-rows: auto;
        column-gap: 10%;
        justify-content: space-evenly;
    }
    
    .product-card__cemento{
            background-image: url(../img/cemento.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 30vh;
            width: 28vw;
            border-radius: .3rem;
            position: relative;
        }
    .product-card__riuso{
            background-image: url(../img/riuso.jpg);
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            height: 30vh;
            width: 28vw;
            border-radius: .3rem;
        }

    .overlay-text{
        display: none;
        background-color: rgba($platinum, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .product-card:hover {
        transform: translate(0);
        .overlay-text{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .product-card__name{
        font-weight: bold;
    }
    
    .gallery__pictures{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 15px;
        img{
            max-width: 25vw;
        }
    }
}

@media only screen and (min-width:$lg){
    aside{
        a{
            box-shadow: 0 4px 8px 0 $dim-gray, 0 6px 20px 0 $light-gray;
        }
        img{
            display: block;
            margin-bottom: 10px;
            border-radius: .3rem;
        }
    }
}

@media only screen and (min-width:$xl){
    
    .product__container{
        grid-template-columns: repeat(2, 25vw);
        grid-template-rows: auto;
    }

    .gallery__pictures{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        img{
            max-width: 20vw;
        }
    }
}